<div class="container">
<p>
  cursos works!
</p>

<div class="collection">
  <a *ngFor="let curso of cursos"  class="collection-item" [routerLink]="['/cursos', curso.id]">{{curso.nome}}</a>
</div>
<div>
  <button [disabled]="!paginaAnterior ? 'disabled' : ''" (click)="anterior()">&lt;</button>
  {{pagina}}
  <button [disabled]="!proximaPagina ? 'disabled' : ''" (click)="proxima()">&gt;</button>
  Total: {{totalPagina}}
</div>

</div>
