<div>
  <div class="row">
    <div class="input-field col s12">
      <input disabled [(ngModel)]="aluno.id" id="idAluno" type="text" class="validate">
      <label for="idAluno">ID</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input  [(ngModel)]="aluno.nome" id="nomeAluno" type="text" class="validate" (input)="onInput()">
      <label for="nomeAluno">Nome</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="aluno.email" id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
  </div>
  <div>
    <a (click)="salvarAluno()"
      class="waves-effect waves-light btn">Salvar</a>
  </div>
</div>
