<h5>Detalhes Aluno</h5>
<p>
  Id: {{aluno.id}} <br />
  Nome: {{aluno.nome}} <br />
  Email: {{aluno.email}} <br />
</p>
<div>
  <a (click)="editarAluno()"
    class="waves-effect waves-light btn">Editar</a>

    <a (click)="voltar()"
    class="waves-effect waves-light btn">Voltar</a>
</div>
