
<div class="row">
  <div class="input-field col s12 offset-l4 l4">
    <input [(ngModel)]="usuario.email" id="email" type="email" class="validate">
    <label for="email">Email</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 offset-l4 l4">
    <input [(ngModel)]="usuario.senha" id="password" type="password" class="validate">
    <label for="password">Senha</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12 offset-l4 l4">
    <button (click)="fazerLogin()" class="btn waves-effect waves-light" type="submit" name="action">Login
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
