<nav>
  <div class="nav-wrapper" *ngIf="exibeMenu">
    <a [routerLink]="['/home']" routerLinkActive="active" class="brand-logo right">Rotas</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['/home']" >Home</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/login']" >Login</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/cursos']" [queryParams]="{pagina: pagina}">Cursos</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/alunos']" >Alunos</a></li>
      <!--<li routerLinkActive="active"><a [routerLink]="['/cursos', ]"></a></li>-->
    </ul>
  </div>
  <div class="nav-wrapper" *ngIf="!exibeMenu">
    <a [routerLink]="['/home']" routerLinkActive="active" class="brand-logo right">Rotas</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a [routerLink]="['/login']" >Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>
